@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Unica+One');

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
@font-face{
    font-family: 'Fredoka One', cursive;
    src:url("https://fonts.googleapis.com/css?family=Fredoka+One|Itim");
}
